/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Global box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CSS Reset */
body,
h1,
p {
  margin: unset;
}

body {
  background-color: #d6e2f0;
  font-family: "Outfit", Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 32px;
}

@media screen and (min-width: 480px) {
  .wrapper {
    margin: auto;
    width: 360px;
  }
}

.card {
  width: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
  width: 100%;
  border-radius: 16px;
}

.card h1 {
  color: #1f3251;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin: 16px 0;
}

.card p {
  color: #7b879d;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
}
